@import url('https://fonts.google.com/specimen/Poppins');

:root{
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);


    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 1120px) {
    :root{
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }   
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* chinh hieu ung load trang tu tu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body{
    font-family: "Poppins";
    background-image: url("images/ngang1.jpg");
    background-repeat: no-repeat;
    animation: fadeIn 2s ease-in; /* Hiệu ứng kéo dài 2 giây */
    background-color: #ffe0e4;
}
.navbar {
    background-color: lightblue;
    height: 80px; /* Điều chỉnh chiều cao của navbar */
    position: sticky;
    top: 0;
    z-index: 1000; /* Đảm bảo navbar nằm trên các phần tử khác */
}
.round-image {
    border-radius: 50%;
    margin-left: 1.5cm;
    overflow: hidden;
}
.nav-item {
    margin-right: 20px; /* Tạo khoảng cách giữa các mục */
    font-size: 1.5em;
}
.nav-item:hover{
    color: #63C05F;
    text-decoration: underline #63C05F;
    font-size: 1.4em;
}
.image-container {
    margin-top: 20px;
    border-radius: 50%;
}
.navbar-nav {
    flex-grow: 1;
    justify-content: center; /* Căn giữa các phần tử trên navbar */
}
/*chữ chạy*/
.typewriter {
    font-size: 1cm;
    color: white;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 1.5cm;
}

/* Con trỏ nhấp nháy */
.typewriter::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 1em;
    background: white;
    animation: blink 0.7s steps(1) infinite;
    vertical-align: bottom;
    margin-left: 1.5cm;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
h2{
    font-size: 1.2cm;
}
h3{
    margin-left: 0.5cm;
    font-size: 0.8cm;
    color: white;
}
h1{
    margin-left: 0.7cm;
    font-size: 1.5cm;
    color: white;
}
.mota{
    font-size: 0.5cm;
    color: white;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 1.5cm;
}
.card{
    width:9.2cm;
    height:auto;
    text-align: center;
    color: #494949;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background: linear-gradient(to right,#a1c4fd, #c2e9fb);

}
.card-header{
    background: linear-gradient(to left,#a1c4fd, #c2e9fb);
}
.btn
{
    background: white;
}
.contact{
    text-align: center;
    justify-content: center;
    margin-left: -1cm;
}
.icon{
    margin-left: 20px;
}
h4{
    text-align: center;
    margin-top: 0.2cm;
    color:darkgray;
}
h8{
    color:#8cb2ee;
}
h9{
    margin-left: 0.6cm;
    margin-bottom: 1cm;
}
h6{
    margin-top: 0.2cm;
}
h10{
    color:tomato;
    font-size: 0.5cm;
    text-align: center;
}
.hinh
{
    margin-right: 1cm;
}

.section .gioithieu {
    display: flex;
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
}

.section .gioithieu h4 {
    margin-right: 20px; /* Khoảng cách giữa các đoạn văn bản và hình ảnh */
}

.section .gioithieu img {
    height: auto;
    width: 10cm;
}


/*=============CARD==============*/
.container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    margin-left: 1.7cm;
    margin-top: 0cm;
}

.card__container{
    display: grid;
    row-gap: 3.5rem;
    
}

.card__article {
    position: relative;  
    overflow: hidden;
}

.card__data {
    width: 280px;
    background: linear-gradient(to left,#a1c4fd , #c2e9fb);;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__img{
    width: 328px;
    border-radius: 1.5rem;
}
.card__description{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}
.card__title{
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
}
.card__button{
    text-decoration: none;
    font-size: 0.5cm;
    font-weight: 500;
    color: var(--first-color);
}  

.card__button:hover{
    text-decoration: underline;
} 

.card__article:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover{
    animation: remove-overflow 2s forwards;
}

 .card__article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
    animation: remove-data 1s forwards;
}  
/*Card animation*/
@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;    
    }
}  

@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }
    .card__data{
        width: 250px;
        padding: 1rem;
    }
} 

@media screen and (min-width:768px){
    .card__container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px){
    .container{
        height: 100vh;
    }
    .card__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .card__img{
        width: 348px;
    }
    .card__data{
        width: 316px;
        padding-inline: 2.5rem;
    }
}
.wrapper {
    display: inline-flex;
    margin-left: 10.5cm;
    margin-bottom: 1cm;
    margin-top: 28cm;
  }
  
  .wrapper .icon {
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon span {
    display: block;
    height: 60px;
    width: 60px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon span i {
    line-height: 60px;
    font-size: 25px;
  }
  
  .wrapper .icon .tooltip {
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: inherit;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
  }
  
  .wrapper .icon:hover span {
    color: #fff;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  }
  .wrapper .facebook{
    margin-right: 1cm;
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .tooltip {
    background: #0866FF;
  }
  
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .tooltip {
    background: #FF0084;
  }
  
  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip {
    background: #333;
  }
  
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .tooltip {
    background: #FF0000;
  }